<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather app is a project from my Node.js Udemy course. It uses APIs from darksky.net and mapbox.com for geolocation and weather forecast results.</p>
        <img class="portrait" src="/images/robot.png">
    </div>
    {{>footer}}
</body>

</html>