<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
       {{>header}}
       <p>Some simple help documentations.</p>
    </div>
    {{>footer}}
</body>

</html>